# Project

- The project is to create a notebook investigating the variables and
data points within the well-known iris flower data set associated
with Ronald A Fisher.
- In the notebook, you should discuss the classification of each
variable within the data set according to common variable types
and scales of measurement in mathematics, statistics, and Python.
- Select, demonstrate, and explain the most appropriate summary
statistics to describe each variable.
- Select, demonstrate, and explain the most appropriate plot(s) for
each variable.
- The notebook should follow a cohesive narrative about the data
set.

###### Source file: Iris – UCI Machine Learning Repository. Aug. 17, 2023. url: https://archive.ics.uci.edu/dataset/53/iris

## ATU -Fundamentals of Data Analysis, Winter 2023/24
##### Author: Norbert Antal

## **Investigating the Iris Dataset**

### **1. Introduction**

##### 1.1 Origins of the data
Fisher’s Iris data set, is a multivariate data set that was introduced by British statistician and biologist Ronald Fisher. <br>The data was collected by Edgar Anderson to quantify the morphologic variation of three related Iris flower species. Fisher utilised the data to demonstrate the use of linear discriminant analysis in his 1936 paper, published in the Annals of Eugenics; “The use of multiple measurements in taxonomic problems”.
<br>In recent times, the dataset is often used as a typical test case for statistical classification in machine learning.<br>


##### 1.2 Contents of the Iris dataset 
The Iris dataset contains 50 samples of three different Iris flower species: Iris setosa, Iris virginica, and Iris versicolor. Each sample has four features measured in centimetres: sepal length, sepal width, petal length and petal width. Using these four sets of data, Ronald Fisher developed a linear discriminant model to differentiate between the species.<br>

###### (ref Iris flower data: https://en.wikipedia.org/wiki/Iris_flower_data_set)

### **2. Preparation**

##### 2.1 Software used for this project

+ VS Code editor
+ Python version 3.9.13 with imported libraries:
  + *pandas* - for data manipulation and analysis 

###### (ref Pandas: https://en.wikipedia.org/wiki/Pandas_(software))
  
##### 2.2 Data source:
Source files downloaded from https://archive.ics.uci.edu/ml/datasets/iris and saved in the root folder for easy access.<br> The source file 'iris.data' is in a comma-separated value file format without headers, 'iris.names' is a brief description of the dataset which contains information regarding the headers for the data.

##### 2.3 Reading and validating data
Files 'iris.data' and 'iris.names' were copied to the project folder for easy access.
Data will be analysed using mainly Pandas which is a popular data analysis library in Python that provides user-friendly data structures and data analysis tools. The comma separated value file is converted to Pandas DataFrame which is a two-dimensional table with labelled columns and rows, similar to a spreadsheet. 
###### (ref: https://towardsdatascience.com/a-python-pandas-introduction-to-excel-users-1696d65604f6)

Iris flower measurement values are imported from **iris.data**, header labels added manually from the data description in **iris.names** and the two combined into a pandas dataframe. <br>

In [1]:
# ------------- load modules  --------------
import pandas as pd # for data analysis and dataframe

#----read in data and give headers to each column, creating a dataframe-----------------------
SOURCEDATA="iris.data" # store path of source file in global variable
#----read in data and add headers to each column (headers taken from iris.names)--------------
headers=[ #adding headers to dataframe
    "sepal length (cm)", 
    "sepal width (cm)", 
    "petal length (cm)", 
    "petal width (cm)",
    "species"]
df=pd.read_csv(SOURCEDATA, names=headers) # creating dataframe 'df', setting headers, excluding index column

The resulting dataframe is checked for anomalies such as missing or Null entries or unsuitable data formats and general information on its structure

###### ref pandas.DataFrame.dtypes (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html)<br> ref pandas.DataFrame.info: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html <br> ref pandas.DataFrame.head: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html

In [7]:
# ---- Data Validation -------------
# check for anomalies and dataframe structure
# ref: https://www.tutorialspoint.com/exploratory-data-analysis-on-iris-dataset
def fn_datavalidation(): 
    print("\n-------> dataframe info: \n")
    print(df.info()) #outputs column names, count of non-null values and datatypes
    print("\n-------> dataframe structure: \n")
    print(df.head(3)) # first 3 lines of data
    print("\n-------> Checking for Null entries: \n")
    print(df.isnull().sum()) #outputs the number of null entries in the dataframe
    print("\n")
#-------------------------end of function
fn_datavalidation()

-------> dataframe info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

-------> dataframe structure:

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

       species
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa

-------> Checking for Null entries:

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

- The generated dataframe information indicates that the dataframe contains 150 value entries per column, 4 columns contain numeric floating point data and one contains textual data while there is an added index column that is assigned by pandas automatically when creating the dataframe. (Automatic indexing ref: https://blog.hubspot.com/website/pandas-indexing) <br>
- Output under the dataframe structure section confirms the assigned column labels to be corresponded with the source, floating point data are under flower measurements and species names are under species.
- In the subsequent check "Checking for Null entries", it was found that there are no Null entries in the dataframe.
Null entries can cause unexpected results with calculations, comparison of data and pandas functions. (Dealing with Null values ref: https://medium.com/geekculture/dealing-with-null-values-in-pandas-dataframe-1a67854fe834)

### 3. Classification of variables in the Iris flower dataset

##### 3.1 Pandas/python data categories

In section 2.3 pandas at 'dataframe info:' output df.info() function provided pandas datatypes for each variables.

- sepal length (cm)  -    float64
- sepal width (cm)   -    float64
- petal length (cm)  -    float64
- petal width (cm)   -    float64
- species            -    object 
  
'object' is the pandas equivalent to python's 'string' datatype. It is the most general datatype and can contain both numbers (as characters) and strings (text)
'float64' is a pandas datatype for numeric data and it is automatically assigned to columns that contain numeric characters with decimal point and/or NaN values

###### ref: Data Analysis and Visualization in Python for Ecologists, Data Types and Formats (https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format.html)

##### 3.2 Statistical categories

1. Categorical Variables:

Categorical variables represent categories or labels. In the Iris dataset, the species of iris flowers (Setosa, Versicolor, and Virginica) are categorical variables.
These variables are non-numeric, qualitative, nominal type, containing textual (string) data with descriptive information that cannot be measured but can be used to categorise or establish group affiliation and in this case mutually exclusive.

2. Numerical Variables:

Numerical variables represent quantities or measurements. In the Iris dataset, the four measurements (sepal length, sepal width, petal length, and petal width) are numerical variables represented as floating point variables.
The data is Quantitative containing numerical information that can be measured. It is also Continuous type for the data can be represented as real numbers. Furthermore, the data is a Ratio type. Although there are equal intervals between consecutive values similarly to Interval type data, these measurements can't have negative values, there is a true zero point therefore these are Ratio type data.

###### ref: Types of data & the scales of measurement, UNSW, Sydney 2020 (https://studyonline.unsw.edu.au/blog/types-of-data#:~:text=Properties%20and%20scales%20of%20measurement,to%20properly%20analyse%20the%20data) <br> ref: Types of Data in Statistics (https://www.freecodecamp.org/news/types-of-data-in-statistics-nominal-ordinal-interval-and-ratio-data-types-explained-with-examples/)

#### 3.3 Investigating iris flower data with pandas describe() function

In descriptive statistics, summary statistics are used to summarize a set of observations, in order to communicate the largest amount of information as simply as possible.<br>
Some measures that are commonly used to describe a data set are measures of central tendency and measures of variability or dispersion. Measures of central tendency include the mean, median and mode, while measures of variability include the standard deviation (or variance), the minimum and maximum values of the variables.
<br>

**pandas describe()** function provides a statistical overview of each array with the following statistics:

- Count: The number of non-null values.
- Mean: The average (mean) of the data.
- Std: The standard deviation (the spread of the data.)
- Min: The minimum value in each array
- 25%: The first quartile (under which the first 25% of values falls)
- 50%: The median (50th percentile).
- 75%: The third quartile (75th percentile).
- Max: The maximum value in the array.

As default, the function only runs on numeric values, however, with the *include='all'* parameter, category data is also part of the output with additional statistics:
- unique: The number of unique entries in the column is.
- top: The category that appears most frequently
- freq: The frequency of the top category

###### ref: Pandas.describe() documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html<br> ref: pandas.describe() method: https://www.w3schools.com/python/pandas/ref_df_describe.asp <br> ref: Descriptive statistics: https://en.wikipedia.org/wiki/Summary_statistics

In [13]:
df.describe(include='all')

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,50
mean,5.843333,3.054000,3.758667,1.198667,NaN
std,0.828066,0.433594,1.764420,0.763161,NaN
min,4.300000,2.000000,1.000000,0.100000,NaN
25%,5.100000,2.800000,1.600000,0.300000,NaN
50%,5.800000,3.000000,4.350000,1.300000,NaN
75%,6.400000,3.300000,5.100000,1.800000,NaN
max,7.900000,4.400000,6.900000,2.500000,NaN