# Tasks

## 1. Collatz Conjecture
> The Collatz conjecture1 is a famous unsolved problem in mathe- 1 The Simple Math Problem We Still Canâ€™t
Solve | Quanta Magazine. Sept. 22, 2020.
url: https://www.quantamagazine.
org/why- mathematicians- stillcant - solve - the - collatz -
conjecture- 20200922/ (visited on
08/18/2023).
matics. The problem is to prove that if you start with any positive
integer x and repeatedly apply the function f(x) below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .
$$ f(x) =
\begin{cases}
    x \div 2 & \text{if } x \text{ is even} \\
    3x + 1 & \text{otherwise}
\end{cases} $$

The task is to verify, using Python, that the conjecture is true for
the first 10,000 positive integers.

In [1]:
x=5

In [2]:
def f_collatz(x):
    #if x is even, devide with 2
    if x %2 == 0:
        return x // 2
    else:
        return (3 * x) +1

In [31]:
def loop_collatz(x):
    while x!=1:
        #print(x, end=', ')
        x=f_collatz(x) 
    return x

In [11]:
number=3
print(f"\nTesting Collatz with initial value of: {number}-> \n\t{loop_collatz(number)}")

3, 10, 5, 16, 8, 4, 2,
Testing Collatz with initial value of: 3->
	1

In [12]:
def store_collatz(x):
    store=[x]
    while x!=1:
        x=f_collatz(x) 
        store.append(x)
    return store
#print(store_collatz(3))

[3, 10, 5, 16, 8, 4, 2, 1]

In [52]:
i=1
collstored=[]
collData=[]
while i!=8:
    collstored=store_collatz(i)
    collDict={"Number":i,"Collatz Values":collstored, "Final Value":loop_collatz(i)}
    collData.append(collDict)
    i=i+1
print(collData)

[{'Number': 1, 'Collatz Values': [1], 'Final Value': 1}, {'Number': 2, 'Collatz Values': [2, 1], 'Final Value': 1}, {'Number': 3, 'Collatz Values': [3, 10, 5, 16, 8, 4, 2, 1], 'Final Value': 1}, {'Number': 4, 'Collatz Values': [4, 2, 1], 'Final Value': 1}, {'Number': 5, 'Collatz Values': [5, 16, 8, 4, 2, 1], 'Final Value': 1}, {'Number': 6, 'Collatz Values': [6, 3, 10, 5, 16, 8, 4, 2, 1], 'Final Value': 1}, {'Number': 7, 'Collatz Values': [7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1], 'Final Value': 1}]

In [53]:
import pandas as pd
df=pd.DataFrame(collData)

In [54]:
df.describe()

         Number  Final Value
count  7.000000          7.0
mean   4.000000          1.0
std    2.160247          0.0
min    1.000000          1.0
25%    2.500000          1.0
50%    4.000000          1.0
75%    5.500000          1.0
max    7.000000          1.0

In [78]:
def collDF(maxNum):
    import pandas as pd
    i=1
    collstored=[]
    collData=[]
    while i!=maxNum+1:
        collstored=store_collatz(i)
        collDict={"Number":i,"Collatz Values":collstored, "Final Value":loop_collatz(i)}
        collData.append(collDict)
        i=i+1
    df=pd.DataFrame(collData)
    return(df)

In [87]:
df=collDF(100)
print(df.head(5))
print(df.describe())

   Number              Collatz Values  Final Value
0       1                         [1]            1
1       2                      [2, 1]            1
2       3  [3, 10, 5, 16, 8, 4, 2, 1]            1
3       4                   [4, 2, 1]            1
4       5         [5, 16, 8, 4, 2, 1]            1
           Number  Final Value
count  100.000000        100.0
mean    50.500000          1.0
std     29.011492          0.0
min      1.000000          1.0
25%     25.750000          1.0
50%     50.500000          1.0
75%     75.250000          1.0
max    100.000000          1.0