# Tasks

## 1. Collatz Conjecture
> The Collatz conjecture1 is a famous unsolved problem in mathe- 1 The Simple Math Problem We Still Canâ€™t
Solve | Quanta Magazine. Sept. 22, 2020.
url: https://www.quantamagazine.
org/why- mathematicians- stillcant - solve - the - collatz -
conjecture- 20200922/ (visited on
08/18/2023).
matics. The problem is to prove that if you start with any positive
integer x and repeatedly apply the function f(x) below, you always get stuck in the repeating sequence 1, 4, 2, 1, 4, 2, . . .
$$ f(x) =
\begin{cases}
    x \div 2 & \text{if } x \text{ is even} \\
    3x + 1 & \text{otherwise}
\end{cases} $$

The task is to verify, using Python, that the conjecture is true for
the first 10,000 positive integers.

    ***

Notes from lecture:

In [1]:
x=5

In [2]:
def f_collatz(x):
    #if x is even, devide with 2
    if x %2 == 0:
        return x // 2
    else:
        return (3 * x) +1

In [3]:
def loop_collatz(x):
    while x!=1:
        # print(x, end=', ')
        x=f_collatz(x) 
    return x

In [4]:
number=3
print(f"\nTesting Collatz with initial value of: {number}-> \n\t{loop_collatz(number)}")

Testing Collatz with initial value of: 3->
	1

## Task execution

##### *The Collatz conjecture is: This process will eventually reach the number 1, regardless of which positive integer is chosen initially. (https://en.wikipedia.org/wiki/Collatz_conjecture)*

In order to verify that the above is true for the first 10,000 positive integers, the program will create and analyse a dataframe that consists of the 
-   sequence of the first 10,000 positive integers
-   resulting Collatz values for each integer (this is not a necessary step, only to demonstrate Collatz is being calculated for each integer)
-   the final value of the Collatz sequence which is expected to be 1 for each integer
-   the last 3 items of each Collatz sequence to verify the predicted 4, 2, 1 cycle as demonstrated in the lecture
The populated DataFrame then can be analysed with Panda's .describe() function to verify if the max value for the "Final Value" datapoint is indeed equals to 1 which would prove that running the Collatz calculation on the first 10,000 positive integers will always return 1.
##### As a starting point, functions "f_collatz()" and "loop_collatz()" are being repurposed from the lecture notes.
-   f_collatz() encapsulates the singular Collatz calculation (x/2 if x is even or 3x+1 if x is an odd one)
-   loop_collatz() calls f_collatz and repeats it until x returns 1

*To demonstrate that the Collatz calculation was actually carried out, the program will store Collatz values from each calculation in a list object*

In [5]:
# function to store Collatz sequence to demonstrate calculation has carried out
def store_collatz(x):
    store=[] # create emty list conatiner
    while x!=1:
        x=f_collatz(x) # call Collatz function as per lecture notes
        store.append(x) # store each iteration
    return store #return container list
# --- end of function
print(store_collatz(6)) #check resulting list

[3, 10, 5, 16, 8, 4, 2, 1]

*Using a dictionary object the program will store the values in a labelled structure; "Number" to store each x integer, "Collatz Values" for each group of Collatz values and "Final Value" for the final Collatz value for each integer. Added last three Values to check the predicted 4, 2, 1 cycle as demonstrated in the lecture*

In [6]:
# testing dictionary solution
i=1 #iterator and starting number
collstored=[] # container for Collatz Values
collData=[] # container for dictionary items
while i!=8: # loop until reaching 8 for testing purposes
    collstored=store_collatz(i) # calling previously created function to populate list of Collatz Values
    collDict={
        "Number":i, #starting number or x for each iteration
        "Collatz Values":collstored, # list item for each list of Collatz values per iteration
        "Final Value":loop_collatz(i), # calling function as per lecture notes that loops through the Collatz calculations until reaching 1 to store as final value (if the last value wasn't 1 at any of the positive integers, there would be an infinite loop and no results)
        "First of the Last Three Values": collstored[-3:][0:1], # checking last 3 items being 4,2,1 as predicted by the Collatz conjecture
        "Mid of the Last Three Values":collstored[-3:][1:2], # checking last 3 items being 4,2,1 as predicted by the Collatz conjecture
        "Last of the Last Three Values":collstored[-3:][2:3] # checking last 3 items being 4,2,1 as predicted by the Collatz conjecture
        }
    collData.append(collDict) # conatiner for each iterated dictionary item
    i=i+1 #iterator increased
print(collData) #print list with all dictionary items generated

[{'Number': 1, 'Collatz Values': [], 'Final Value': 1, 'First of the Last Three Values': [], 'Mid of the Last Three Values': [], 'Last of the Last Three Values': []}, {'Number': 2, 'Collatz Values': [1], 'Final Value': 1, 'First of the Last Three Values': [1], 'Mid of the Last Three Values': [], 'Last of the Last Three Values': []}, {'Number': 3, 'Collatz Values': [10, 5, 16, 8, 4, 2, 1], 'Final Value': 1, 'First of the Last Three Values': [4], 'Mid of the Last Three Values': [2], 'Last of the Last Three Values': [1]}, {'Number': 4, 'Collatz Values': [2, 1], 'Final Value': 1, 'First of the Last Three Values': [2], 'Mid of the Last Three Values': [1], 'Last of the Last Three Values': []}, {'Number': 5, 'Collatz Values': [16, 8, 4, 2, 1], 'Final Value': 1, 'First of the Last Three Values': [4], 'Mid of the Last Three Values': [2], 'Last of the Last Three Values': [1]}, {'Number': 6, 'Collatz Values': [3, 10, 5, 16, 8, 4, 2, 1], 'Final Value': 1, 'First of the Last Three Values': [4], 'Mid of the Last Three Values': [2], 'Last of the Last Three Values': [1]}, {'Number': 7, 'Collatz Values': [22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1], 'Final Value': 1, 'First of the Last Three Values': [4], 'Mid of the Last Three Values': [2], 'Last of the Last Three Values': [1]}]

*as the resulting dictionary has the necessary structure (labelled data) for creating a dataframe, the program will import pandas and generate a datarame from the data in the dictionary.*

In [7]:
import pandas as pd
df=pd.DataFrame(collData) #converting dictionary data into a dataframe
df.head(15) #check result

,Number,Collatz Values,Final Value,First of the Last Three Values,Mid of the Last Three Values,Last of the Last Three Values
0,1,[],1,[],[],[]
1,2,[1],1,[1],[],[]
2,3,"[10, 5, 16, 8, 4, 2, 1]",1,[4],[2],[1]
3,4,"[2, 1]",1,[2],[1],[]
4,5,"[16, 8, 4, 2, 1]",1,[4],[2],[1]
5,6,"[3, 10, 5, 16, 8, 4, 2, 1]",1,[4],[2],[1]
6,7,"[22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16...",1,[4],[2],[1]

*The resulting dataframe now can be analysed with Panda's .describe() function to find max value for final values*

In [3]:
df.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

*.describe() returned the expected max value and min value (1.0) for the "Final Value" column in the test dataframe*
###### *(.describe() can only analyse numbers therefore it disregarded list data stored in "Collatz Values" and "Last Three Items")*

With the individual steps tested and returning the expected results, these will be merged into one function "CollatzVerify()", so it can be called with any positive integer

In [9]:
def CollatzVerify(maxNum):
    import pandas as pd #pandas module imported
    i=1 #iterator and starting number for Collatz
    collstored=[] # container for stored Collatz seqence for each integer
    collData=[] # dictionary container for labeled data
    
    #populating dictionary object with each iteration using while loop
    while i!=maxNum+1: # maxNum will determine the scope of the calculation as per function parameter (+1 to compensate for python's counting starting with 0) 
        collstored=store_collatz(i) #call function to store Collatz sequence for each iteration
        collDict={ #populate dictionary object
        "Number":i, #i=each number in the iterator
        "Collatz Values":collstored, #seqence calculated by store_collatz()
        "Final Value":loop_collatz(i), # end of collatz sequence (I couldn't store the sliced list data as integer hence the calculation)
        "Last Three Values":collstored[-3:], # checking last 3 items being 4,2,1 as predicted by the Collatz conjecture
        }
        collData.append(collDict) #adding all above to existing dictionary data
        i=i+1 #increase iteration by 1
    #end of while loop
    df=pd.DataFrame(collData) #after while loop is finished the resulting dictionary object is converted to a dataframe with pandas.
    print(f"Verifying last item of the Collatz sequence for the first {maxNum} positive integers\n") #user interaction - function description with scope indicated
    print(f"DataFrame Analysis:\n{df.describe()}") # display results of dataframe analysis with describe()
    print(f"\nWith both min and max value returning 1.0 for \"Final Value\" column, the DataFrame Analysis verifies the Collatz conjecture within the first {maxNum} positive integers.") #Userinteraction display conclusion with scope
    print("\nDataframe structure sample:")
    return(df) #show sample of the dataframe
#___End of combined function___

Calling the merged function with 10,000

In [10]:
CollatzVerify(10000)

Verifying last item of the Collatz sequence for the first 10000 positive integers

DataFrame Analysis:
            Number  Final Value
count  10000.00000      10000.0
mean    5000.50000          1.0
std     2886.89568          0.0
min        1.00000          1.0
25%     2500.75000          1.0
50%     5000.50000          1.0
75%     7500.25000          1.0
max    10000.00000          1.0

With both min and max value returning 1.0 for "Final Value" column, the DataFrame Analysis verifies the Collatz conjecture within the first 10000 positive integers.

Dataframe structure sample:

,Number,Collatz Values,Final Value,Last Three Values
0,1,[],1,[]
1,2,[1],1,[1]
2,3,"[10, 5, 16, 8, 4, 2, 1]",1,"[4, 2, 1]"
3,4,"[2, 1]",1,"[2, 1]"
4,5,"[16, 8, 4, 2, 1]",1,"[4, 2, 1]"
...,...,...,...,...
9995,9996,"[4998, 2499, 7498, 3749, 11248, 5624, 2812, 14...",1,"[4, 2, 1]"
9996,9997,"[29992, 14996, 7498, 3749, 11248, 5624, 2812, ...",1,"[4, 2, 1]"
9997,9998,"[4999, 14998, 7499, 22498, 11249, 33748, 16874...",1,"[4, 2, 1]"
9998,9999,"[29998, 14999, 44998, 22499, 67498, 33749, 101...",1,"[4, 2, 1]"
9999,10000,"[5000, 2500, 1250, 625, 1876, 938, 469, 1408, ...",1,"[4, 2, 1]"

#### End of Task1. - Collatz Conjecture
___
***

## Task 2 - Penguin data set
Give an overview of the famous penguins data set, explaining the types of variables it contains. Suggest the types of variables
that should be used to model them in Python, explaining your
rationale.
###### mwaskom/seaborn-data: Data repository, for seaborn examples. Aug. 30, 2023. url: https://github.com/mwaskom/seaborn-data/blob/master/penguins.csv (visited on 08/30/2023).

### Task execution

The Palmer Penguins Dataset is a commonly used alternative and very similar to the famous Iris dataset for learning data exploration and visualization.
The data was gathered and published by Dr. Kristen Gorman and the Palmer Station, Antarctica LTER, a Long Term Ecological Research Network member. 
It is a dataset comprising various measurements for 344 penguins of three different penguin species, collected from 3 islands in the Palmer Archipelago, Antarctica. 
###### (F. Spire, Palmer Penguins - Data Preprocessing and Analysis, 2021, https://www.kaggle.com/code/florianspire/palmer-penguins-data-preprocessing-and-analysis (visited 08/10/23))
###### (S. K. Dash, Data Exploration and Visualisation Using Palmer Penguins Dataset, 2022, https://www.analyticsvidhya.com/blog/2022/04/data-exploration-and-visualisation-using-palmer-penguins-dataset/ (visited 08/10/23))

In [12]:
#importing penguins dataset from github link in task description
import pandas as pd
url = 'https://github.com/mwaskom/seaborn-data/blob/master/penguins.csv?raw=true' # had to add ?raw=true to the end to make it work (source: https://stackoverflow.com/questions/55240330/how-to-read-csv-file-from-github-using-pandas)
df = pd.read_csv(url,index_col=0)
df.to_csv("penguines.csv", index=False) # save downloaded dataframe in local folder as csv

print(f'sample:\n{df.head(3)}') # check resulting dataframe
print(f'\ndata types:\n{df.dtypes}') # check datatypes in the dataframe (source: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html)

sample:
            island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
species
Adelie   Torgersen            39.1           18.7              181.0
Adelie   Torgersen            39.5           17.4              186.0
Adelie   Torgersen            40.3           18.0              195.0

         body_mass_g     sex
species
Adelie        3750.0    MALE
Adelie        3800.0  FEMALE
Adelie        3250.0  FEMALE

data types:
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

The Penguin dataset contains 6 variables
 1. island
   - This data describes where the sample is from. It is Qualitative, Nominal type, containing textual, descriptive information that cannot be measured but can be used to classify or establish group affiliation.
 2. bill_length_mm
 3. bill_depth_mm
 4. flipper_length_mm
 5. body_mass_g
   - variables above (2., 3., 4. and 5.) contain biometric data for the penguins. The data is Quantitative containing numerical information that can be measured. It is also Continuous type for the data can be represented as a real numbers. Furthermore, the data is a Ratio type because there are equal intervals between consecutive values like Interval data, but these measurements can't have negative values, there is a true zero point (anatomical features with negative length, are yet to be discovered).
 6. sex  
   - This data is a special form of the Nominal type called Dichotomous data type. It is descriptive and non-numerical, but it can only take one of two mutually exclusive values (male or female in this case, even though penguins are well known for their liberal mindset https://en.wikipedia.org/wiki/Roy_and_Silo).

###### Types of data & the scales of measurement, UNSW, Sydney 2020 (https://studyonline.unsw.edu.au/blog/types-of-data#:~:text=Properties%20and%20scales%20of%20measurement,to%20properly%20analyse%20the%20data)
###### Types of Data in Statistics (https://www.freecodecamp.org/news/types-of-data-in-statistics-nominal-ordinal-interval-and-ratio-data-types-explained-with-examples/)

 1. island 
   - the Nominal textual data in this column should be stored in a string variable in python. String (str) variables store text data.
 2. bill_length_mm
 3. bill_depth_mm
 4. flipper_length_mm
 5. body_mass_g
   - above are Continuous type numerical data, meaning they can be any real number. Python offers 3 types of variables to store numerical data Integer (int), Floating Point (float) and Complex (complex). Since pythons Integer (int) type variable only stores whole numbers and complex is to store complex numbers, we must use floating point (float) type variable to store the data from these columns.
 6. sex
   - the data in this column is textual but can only take 2 mutually exclusive values (Male or Female) so it might be tempting to use a boolean type variable to store the data, however python's Boolean (bool) variable can be only be True or False so in this case a String (str) type variable is the right choice.

###### Python Data Types (https://www.programiz.com/python-programming/variables-datatypes)